<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>

      <!-- Note: You cannot combined two structural directives together.
      The achieve the effect of both, you require layering of both directives -->
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            [ngClass] = "{odd: odd % 2 !== 0}"
            [ngStyle] = "{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'}"
            *ngFor="let odd of oddNumbers">
            {{ odd }}
          </li>
         </div>

        
        <!-- <div *ngIf="!onlyOdd">
          <li 
            class="list-group-item"
            [ngClass] = "{odd: even % 2 !== 0}"
            [ngStyle] = "{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"        
            *ngFor="let even of evenNumbers">
            {{ even }}
          </li>
         </div>

        This is the set of code after reconfiguration by Angular, it is exact the same as the above code 
        The div is enclosed in a ng-template with [ngIf] as a property
        <ng-template [ngIf]="!onlyOdd">
          <div>
            <li 
              class="list-group-item"
              [ngClass] = "{odd: even % 2 !== 0}"
              [ngStyle] = "{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"        
              *ngFor="let even of evenNumbers">
              {{ even }}
            </li>
          </div>
          </ng-template> -->

          <!-- The selector's name must be the same as the one used in the structural directive -->
          <div *appUnless="onlyOdd">
            <li 
              class="list-group-item"
              [ngClass] = "{odd: even % 2 !== 0}"
              [ngStyle] = "{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"        
              *ngFor="let even of evenNumbers">
              {{ even }}
            </li>
          </div>


        </ul>

        <!-- The directives modifies the element 
        The directive's custom properties can take in values -->
        <p appBasicHighlight>Style me with basic directive</p>
        <p appBetterHighlight 
        [defaultColor]="'yellow'" 
        [highlightColor]="'red'">
        Style me with basic directive</p>
        
    </div>
  </div>
</div>
